#map-dist {
  width: 90%;
  height: 600px;
}

#sw-col1 {
  width: 90%;
  height: 600px;
  margin-left:5%;
}

#sw-col2 {
  width: 90%;
  height: 600px;
  margin-left:5%;
}

#nested-pie {
	width: 100%;
	height: 400px;
}

#alt-block-container
{
  	width: 90%;
    display: flex;
    justify-content: center;
}

#alt-occ-male, #alt-occ-female {
  width: 100%;
  height: 500px;
}